<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Shelter</title>
</head>
<body>
    <h1>Animals - <%= category %></h1>
    <ul>
        <% for(let animal of animals){ %>
            <li>
                <a href="/animals/<%= animal._id %>">
                    <%= animal.name %>
                </a>
            </li>
        <% } %>
    </ul>
    <a href="/animals/new">New Animal</a>
    <% if(category !== 'All'){ %>
        <a href="/animals">All Animals</a>
    <% } %>
</body>
</html>